.welcome{
    font-size: 30px;
}

#small-table{
    max-width: 80%;
    margin: auto;
}

#fantasy-logo{
    max-width: 200px;
}

#fantasy-logo-navbar{
    max-width: 120px;
    margin-left: 10%;
}

#driver-pic{
    max-width: 280px;
}